body{
    background-color: white;
    text-align: center;
    margin:0;
    padding: 0;
    font-family: Merriweather,serif;
    
}
.Header{
    padding-top: 3%;
    display: flex;
    justify-content: center;
}

nav{
    padding-right :35px;
    border-radius: 50px;
    background:transparent;
    border: 1px solid rgba(13, 13, 13, 0.553);
    justify-content: center;
    
}
.navUl{
    display: flex;
    list-style-type: none;   
}

.navUl li{
    padding: 0px 15px;   
    font-size: 18px; 
}

.navUl a{
    text-decoration: none;
    color: #0e4141; 
    font-family: 'Montserrat',sans-serif;
    font-weight:bold;
    transition: .2s ease-in;
}

.navUl a:hover{
    text-decoration:overline;
    color: #0daeae; 
}

.front h1{
    font-size: 5.925rem;
    margin: 30px auto 0;
    font-family: 'Sacramento',cursive; 
    color: #4a7171; 
     /* line-height: -2;  increase the gap at top and bottom */
}

.sb{
    font-size: 1.8rem;
   
}
.front h2{
    font-size: 2rem;
    font-family: 'Montserrat',sans-serif;
    font-weight: normal;
    color: #3e8c8c; 
}
.front{
    background-image: linear-gradient(to right, rgb(141, 160, 255) 0%, rgba(114,208,246,1) 15%, rgba(50,247,250,1) 28%, rgba(181,255,206,1) 44%, rgba(245,248,171,1) 65%, rgb(252, 190, 136) 90%, rgb(255, 197, 197) 100%);
    background-size: 200%;
    animation: bg-animat 10s infinite alternate;
    padding-bottom: 10px;
}

@keyframes bg-animat {
    0%{
        background-position:left;
    }
    100%{
        background-position: right;
    }
}

.top{
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.bottom{
    position: absolute;
    padding-bottom: 40px ;
    left: 17%;
    top:80%;
    height:75px;
    width: 80px  ;
}

.upper{
    position:absolute;
    right: 20%;
    top:10%;
    height:100px;
    width: 100px  ;
}

.heading{
    margin: 0;
    text-align: center;
    color: #2f4747; 
    font-size: 3rem;
    font-family:Caprasimo;
    font-weight: lighter;
    text-decoration: underline;
}
.skills{
    padding-top: 30px;
    background: linear-gradient(125deg, rgba(242,255,196,1) 11%, rgba(183,255,152,1) 32%, rgba(91,242,223,1) 51%, rgb(125, 255, 216) 71%, rgba(119,210,255,1) 90%);;
    background-size: 400%;
    animation: bg-animat 10s infinite alternate;
}

.skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-container .skills-box {
    margin:20px 20px;
    margin-right: 20px;
    flex: 2 2 30rem;
    background:#F7FFE5;
    padding: 2rem 1rem 3rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid rgb(48, 48, 48);
    transition: .5s ease;
    width: fit-content;
    font-size: small;
}

.skills-container .skills-box:hover {
    border-color: black;
    transform: scale(1.02);
}

.skills-box i{
    font-size: 5rem;
    color: black;
}

.skills-box h3{
    font-size: 2.2rem; 
}

.skills-box p {
    font-size: 1.3rem;
    margin: 1rem 0 3rem;
}



.container {
    display: flex;
    justify-content:left;
    height: 100vh;
}
  
.section1{
    text-align:left;
    width: 60%;
    padding: 60px 80px;
    background-color: #e43434;
}

.hobbies {
    padding-top: 80px;
    width: 40%;
    background-color: #569389;
}

